/* Mobile view is default*/
@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

li {
	display:inline-block;
	color: #FFFFFF;
	width: 15%;
	padding: 10px;
}
/* Links */

body {
	color: #000000;
	/*font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: 'Roboto Slab', serif;
	font-weight: 300; 
	background-color: #f8f8ff;
	background-image: url("http://www.transparenttextures.com/patterns/brilliant.png");
}
h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}
h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}
/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	background-color:#F8F8FF;
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
footer {
	background-color: #000;
	color: #F8F8FF;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2.275%;
	padding-right: 2.275%;
	text-align: center;
	width: 86.45%;
}
.textLeft {
	width: 98%;
	margin: 1%;
	float: left;
}
.textRight {
	width: 98%;
	margin: 1%;
	float: left;
}
.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
   background-color: black;
}
.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}
.nav-collapse li {
  float: left;
  width: 100%;
  display: block;
}
.nav-collapse a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 0.7em 1em;
  float: left;
}
.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}
.nav-toggle:before {
  color: #000; /* Edit this to change the icon color */  
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "â‰¡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}
.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}
.nav-collapse.opened {
  max-height: 9999px;
}
.disable-pointer-events {
  pointer-events: none !important;
}
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/*CONTACT FORM*/
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
	font-family: 'Roboto Slab', serif;
	font-weight: 300; 
}
#contact {
	background:#f8f8ff;
	padding:25px;
	margin:0px 0;
}
#contact h3 {
	color: #000;
	display: block;

	font-size: 30px;
	font-weight: 400;
}
#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact textarea {
	height:100px;
	max-width:100%;
}
#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#000;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
#contact button[type="submit"]:hover {
	background:#fff;
	color: #000;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
	 box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}
#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
/*END CONTACT FORM*/
/*GALLERY START*/

.galleryItem {width: 96%;}
.galleryItem img {width: 96%;}
.galleryItem h3 {font-size: 18px;}
#div1 {}
.zeroMargin_mobile {margin-left: 0;}
.hide_mobile {display: none;}
.galleryItem p, {font-size: 18px;}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

.andy {
	margin-bottom: -50px;
}

@media only screen and (min-width: 535px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
footer {
    padding-left: 1.1625%;
    padding-right: 1.1625%;
    width: 90.675%;
}
.textLeft {
	width: 48%;
	margin: 1%;
	float: left;
}
.textRight {
	width: 48%;
	margin: 1%;
	float: right;
}
.nav-collapse li {
	display: inline;
	poisition: relative;
    width: 20%;
    *width: 20%; /* IE7 Hack */
    _width: 20%; /* IE6 Hack */
	border-bottom: 0;
 }
.nav-collapse a {
    margin: 0;
    padding: 1em;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid white;
}
.nav-toggle {
    display: none; /*hamburger icon*/
}
.js .nav-collapse {
    position: relative;
}
.js .nav-collapse.closed {
    max-height: none;
}
/*CONTACT FORM*/
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
	font-family: 'Roboto Slab', serif;
	font-weight: 300; 
}
#contact {
	background:#f8f8ff;
	padding:25px;
	margin:0px 0;
}
#contact h3 {
	color: #000;
	display: block;
	font-size: 30px;
	font-weight: 400;
}
#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact textarea {
	height:100px;
	max-width:100%;
}
#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#000;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
#contact button[type="submit"]:hover {
	background:#fff;
	color: #000;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
	 box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}
#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
/*END CONTACT FORM*/
/*GALLERY ITEM*/
.galleryItem {
    color: #797478;
    float: left;   
    width: 46%;
    margin: 2% 2% 50px 2%;
}
.galleryItem h3 {font-size: 18px;}
#div1 {}
.zeroMargin_tablet {margin-left: 0;}
.hide_tablet {display: none;}
.galleryItem p, {font-size: 18px;}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
footer {
    max-width: 1232px;
    padding-left: 0.75%;
    padding-right: 0.75%;
    width: 88.5%;
}
.textLeft {
	width: 48%;
	margin: 1%;
	float: left;
}
.textRight {
	width: 48%;
	margin: 1%;
	float: right;
}
.nav-collapse li {
	display: inline;
	float: left;
	poisition: relative;
	background-color: ;/*CHANGE*/
    width: 20%;
    *width: 20%; /* IE7 Hack */
    _width: 20%; /* IE6 Hack */
}
.nav-collapse a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid black;
}
.nav-toggle {
    display: none; /*hamburger icon*/
}
.andy {
	width:100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}
.andy img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width:600px;
}

/*Start Gallery*/
.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}
.gallery > div > img {
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0);
  /* hack */
}
.gallery > div:hover {
  z-index: 1;
}
.gallery > div:hover > img {
  transform: scale(2.11,2.11);
  transition: .7s transform;
}
.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}
.cf:after {
  clear: both;
}
/*END GALLERY*/
/*CONTACT FORM*/
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
	font-family: 'Roboto Slab', serif;
	font-weight: 300; 
}
#contact {
	background:#f8f8ff;
	padding:25px;
	margin:0px 0;
}
#contact h3 {
	color: #000;
	display: block;
	font-size: 30px;
	font-weight: 400;
}
#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact textarea {
	height: 75px;
	max-width:100%;
}
#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#000;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
#contact button[type="submit"]:hover {
	background:#f8f8ff;
	color: #000;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
	 box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}
#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
/*END CONTACT FORM*/
/*SOCIAL FOOTER*/
.socialw {
	width: 235px;
	margin: 25px auto 25px auto;
	overflow: auto;
	height: 100%;
}

.social{
  position:relative;
	border: 1px solid #292929;
	width: 37px;
	height: 45px;
	float: left;
	margin-left: 10px;
	overflow: hidden;
}
.first {
	margin-left: 0px;
}
/*START SOCIAL*/
/* Fade In Down */
@-webkit-keyframes fadeInDown {
	0% {  opacity: 0;  -webkit-transform: translateY(-100px);  }	
	100% {  opacity: 1;  -webkit-transform: translateY(0);	}
}
@-moz-keyframes fadeInDown {
	0% {  opacity: 0;  -moz-transform: translateY(-100px);	}	
	100% {  opacity: 1;  -moz-transform: translateY(0);  }
}
@-o-keyframes fadeInDown {
	0% {  opacity: 0;  -o-transform: translateY(-100px);	}	
	100% {  opacity: 1;  -o-transform: translateY(0);  }
}
@keyframes fadeInDown {
	0% {  opacity: 0;  transform: translateY(-100px);	}	
	100% {  opacity: 1;  transform: translateY(0);	}
}
.fadeInDown {
	-webkit-animation: fadeInDown 1s both 0.5s;
	-moz-animation: fadeInDown 1s both 0.5s;
	-o-animation: fadeInDown 1s both 0.5s;
	animation: fadeInDown 1s both 0.5s;
}
/* Fade In Down */
/* Social Transition */
.social img{
position:center;
left:0;
top:0;
-webkit-transition: margin-top 250ms ease-in;
-moz-transition: margin-top 250ms ease-in;
-o-transition:  margin-top 250ms ease-in;
transition:  margin-top 250ms ease-in;
}
.social:hover img{
margin-top:-62px;
}
/*END SOCIAL*/
}